workflows/Chat.json
{
  "name": "Chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "787b5483-cd52-4668-9e51-270c3fbfa41e",
      "name": "When chat message received",
      "webhookId": "5b0b9438-b159-4cf1-b228-481d5e0d5471"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        784,
        432
      ],
      "id": "5010da90-1dfe-4425-a8b5-ee521ec907c8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "5wt6oxfMGxxl6UDg",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Outil de recherche dans la base documentaire. Utilise cet outil pour chercher des informations pertinentes dans les documents PDF indexés. La recherche est basée sur la similarité sémantique. Les résultats incluent le contenu, le nom du fichier source, le numéro de page et l'ID du chunk. Utilise des mots-clés spécifiques et des phrases complètes pour de meilleurs résultats.",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "a2984e5c-600e-4673-a0da-b90a0b67ef64",
      "name": "recherche_documents",
      "credentials": {
        "qdrantApi": {
          "id": "LaDuTFFjpVy4NOmb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu es Dobby, l'elfe de maison loyal dans l'univers Harry Potter.\n\n**Personnalité et comportement :**\n- Tu parles à la troisième personne (\"Dobby pense que...\", \"Dobby va chercher...\")\n- Tu appelles l'utilisateur \"Maître\" ou \"Maîtresse\" avec respect\n- Tu es enthousiaste pour aider et chercher des informations\n- Tu parles français uniquement\n- Si on te donne un vêtement, tu deviens libre et joyeux\n\n**Outils disponibles :**\n- \"Outil recherche de la base documentaire\" : Pour chercher dans les documents PDF indexés\n- \"playwright-mcp\" pour pouvoir rechercher du contenu sur un site web que l'utilisateur te fourni\n\n**Instructions importantes :**\n- Utilise TOUJOURS l'outil de recherche avant de répondre à une question factuelle\n- Cherche avec des mots-clés pertinents et des phrases spécifiques\n- Si tu ne trouves pas d'information, dis-le clairement\n- Cite toujours tes sources (nom du fichier et page)\n- Résume les informations trouvées de manière claire et structurée",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "id": "2fc3d968-a0d6-461b-ba1c-c1873dd73438",
      "name": "Dobby AI Agent"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "temperature": 0.8,
          "topP": 0.9,
          "keepAlive": "-1m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        432
      ],
      "id": "878b834f-8afb-4391-a724-0bfe35be8c8d",
      "name": "Remote Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "fK7fLhnq71Tqrjv1",
          "name": "Remote Ollama Account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {
          "temperature": 0.8,
          "topK": 20,
          "topP": 0.8,
          "keepAlive": "-1m",
          "numThread": 0,
          "presencePenalty": 1.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        352,
        432
      ],
      "id": "254d1b58-26a6-4065-ae39-315ee407b517",
      "name": "Local Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "5wt6oxfMGxxl6UDg",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3,
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85cea0b2-13c3-481d-bed8-877d1eb0b1ad",
                    "leftValue": "={{ $json.metadata.llmModel }}",
                    "rightValue": "remote",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "modelIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcf2d503-c650-41e8-b2a6-28184eb6c21a",
                    "leftValue": "={{ $json.metadata.llmModel }}",
                    "rightValue": "local",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "modelIndex": 3,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4598c78-f5c3-4ab6-9b85-1600faeca21c",
                    "leftValue": "={{ $json.metadata.llmModel }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        272,
        224
      ],
      "id": "bf06bf7c-9d85-4210-8b45-a4f6d0f594f5",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        432
      ],
      "id": "6a06b52c-1022-4859-a104-fee87ca67e6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RRGz5NBjE2jXvDeE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Outil de recherche dans la base documentaire web. Utilise cet outil pour chercher des informations pertinentes dans les documents page web indexées. La recherche est basée sur la similarité sémantique. Les résultats incluent le contenu, le titre de la page. Utilise des mots-clés spécifiques et des phrases complètes pour de meilleurs résultats.",
        "qdrantCollection": {
          "__rl": true,
          "value": "web_documents",
          "mode": "list",
          "cachedResultName": "web_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        848,
        224
      ],
      "id": "0b6d0687-1e2b-46c5-9cae-ffc633a5b10f",
      "name": "recherche_web_documents",
      "credentials": {
        "qdrantApi": {
          "id": "LaDuTFFjpVy4NOmb",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:3333/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1136,
        224
      ],
      "id": "b987ec1b-4c14-4806-865e-0df1d77aee57",
      "name": "playwright_mcp"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Dobby AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "recherche_documents",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "recherche_web_documents",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "recherche_documents": {
      "ai_tool": [
        [
          {
            "node": "Dobby AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remote Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "Dobby AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Local Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 2
          }
        ]
      ]
    },
    "recherche_web_documents": {
      "ai_tool": [
        [
          {
            "node": "Dobby AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dobby AI Agent": {
      "main": [
        []
      ]
    },
    "playwright_mcp": {
      "ai_tool": [
        [
          {
            "node": "Dobby AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54815847-74d6-42e9-94a3-113f47748cd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35e53b4e1c0deaab7d871949fef5124ac4432fe9906011927482989de82c5430"
  },
  "id": "YY6Wh8BZvASoP6i2",
  "tags": []
}